* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

:root {
  --green: #568d4ddc;
  --grey: #76777c;
  --lightgrey: #e2e2e2;
  --white: #ffffff;
}

body {
  background-color: black;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

.separador {
  margin-top: 8%;
  display: flex;
  width: 50%;
  height: 5px;
  background-color: var(--green);
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
  margin: 0;
  background-color: var(--green);
  font-size: var(--white);
}

li {
  padding: auto;
  margin: auto;
  cursor: pointer;
}

li a {
  font-size: var(--white);
  color: var(--lightgrey);
  border: rgba(0, 0, 0, 0.377) solid;
  margin: 5px;
}

li a:hover {
  background-color: rgb(0, 0, 0);
}

.logo-container img {
  height: 100px;
  margin-left: 10%;
}

.login ul {
  display: flex;
  align-items: center;
}

.login ul li a {
  margin: 5px;
}

/*  menu-toggle   */

.menu-toggle {
  display: none;
}

.menu-button {
  display: none;
  font-size: 35px;
  cursor: pointer;
  color: var(--lightgrey);
  padding: 0 30px;
}

.toggle {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  color: var(--lightgrey);
}

.toggle li a {
  list-style: none;
  padding: 5px;
}

@media (max-width: 900px) {
  .menu-button {
    display: block;
  }
  .toggle {
    margin-top: 10px;
    display: none;
  }

  .toggle li {
    list-style: none;
    padding: 10px 0;
    color: var(--grey);
  }
  .menu-toggle:checked ~ .toggle {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    justify-content: center;
    background-color: var(--green);
    border-radius: 7px;
    width: 95%;
    left: 2.5%;
    top: 12%;
  }

  .header-container {
    position: relative;
  }

  .fa-solid {
    color: var(--grey);
  }
  .fa-bars {
    color: var(--grey);
  }
}

/* section-historia  */

.section-benelli {
  margin-top: 5%;
}

.section-historia {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.section-benelli h1 {
  color: var(--white);
  text-align: center;
  font-size: 45px;
  margin-bottom: 10px;
}

#foto-Historia {
  margin-top: 35px;
  width: 95%;
  max-width: 900px;
}

.parrafo-historia {
  width: 45%;
  margin-top: 7%;
  font-size: 15px;
  color: var(--white);
  text-align: center;
}

/*       galeria-benelli      */

.galeria-benelli {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo {
  margin: 10%;
  margin-top: 15%;
  font-size: 40px;
  color: var(--lightgrey);
  text-align: center;
}

.modelo-titulo {
  margin: 15px;
  font-size: 40px;
  color: var(--lightgrey);
  text-align: center;
  text-decoration: underline var(--green);
}

.descripcion1 {
  width: 65%;
  color: black;
  font-size: 20px solid;
  background-color: var(--grey);
  border: var(--green) 2px solid;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.descripcion2 {
  color: var(--lightgrey);
  font-size: 20px solid;
  background-color: #d12929;
  margin-bottom: 12%;
  text-align: center;
}

.img-galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.b180s {
  max-width: 40%;
  margin: 15px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "b1 b2"
    "b1 b3";
  align-items: stretch;
  justify-items: center;
  grid-gap: 10px;
}

.leon250 {
  max-width: 40%;
  margin: 15px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "b1 b2"
    "b1 b3";
  align-items: stretch;
  justify-items: center;
  grid-gap: 10px;
}

.trk502x {
  max-width: 40%;
  margin: 15px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "b1 b2"
    "b1 b3";
  align-items: stretch;
  justify-items: center;
  grid-gap: 10px;
}

.b752s {
  max-width: 40%;
  margin: 15px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "b1 b2"
    "b1 b3";
  align-items: stretch;
  justify-items: center;
  grid-gap: 10px;
}

.b1 {
  width: 100%;
  grid-area: b1;
  border: var(--green) solid;
  background-color: var(--grey);
  cursor: pointer;
  transition: all 400ms ease;
}

.b2 {
  width: 100%;
  grid-area: b2;
  border: var(--green) solid;
  background-color: var(--grey);
  cursor: pointer;
}

.b3 {
  width: 100%;
  grid-area: b3;
  border: var(--green) solid;
  background-color: var(--grey);
  cursor: pointer;
}

.b1:hover {
  border-radius: 18px;
  box-shadow: 0px 1px 10px rgba(241, 239, 73, 0.726);
  transform: translate(-3%);
}
.b2:hover {
  border-radius: 18px;
  box-shadow: 0px 1px 10px rgba(241, 239, 73, 0.726);
}
.b3:hover {
  border-radius: 18px;
  box-shadow: 0px 1px 10px rgba(241, 239, 73, 0.726);
}

/* servicios */

.servicio-container {
  margin-top: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-servicio {
  width: 40%;
  margin: 15px;
  font-size: 30px;
  color: var(--lightgrey);
  text-align: left;
}


.form-container {
  width: 80%;
  max-width: 300px;
}

.form-grup {
  margin-top: 9%;
  position: relative;
}

.form-input {
  width: 100%;
  background: none;
  color: var(--lightgrey);
  font-size: 10px;
  padding: 10px 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(255, 251, 251);
}

.form-label {
  color: var(--lightgrey);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(15px);
  transition: transform 0.5s color 0.3s;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-15px) scale(0.7);
  transform-origin: left top;
  color: var(--green);
}

.form-submit {
  background-color: var(--green);
  color: var(--lightgrey);
  margin-top: 10%;
  width: 300px;
  text-align: center;
  cursor: pointer;
  border-radius: 20px;
}



/* footer */

footer {
  margin-top: 7%;
  height: 300px;
  background-color: var(--grey);
}
